<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="MoslemVision - Shopping Cloth" />
    <meta property="og:description" content="Menjual Baju Busana Muslim" />
    <meta property="og:url" content="www.luxspace.com" />
    <meta property="og:image" content="" />

    <title>MoslemVision</title>
    <!-- link css -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/main.css" />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- header -->
    <section>
      <header>
        <!-- navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand text-danger fs-3 fw-bold" href="#">
              MOSLEMVISION</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarScroll"
              aria-controls="navbarScroll"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-md-center"
              id="navbarScroll"
            >
              <ul
                class="navbar-nav justify-content-lg-center fs-5 mr-4"
                style="--bs-scroll-height: 100px"
              >
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">BEST SELLER </a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarScrollingDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    ABOUT US
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarScrollingDropdown"
                  >
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="#"
                    tabindex="-1"
                    aria-disabled="true"
                    >REVIEWS</a
                  >
                </li>
              </ul>
              <div id="signIn" class="justify-content-lg-end d-md-none d-block">
                <button
                  class="btn btn-outline-danger m-lg-3 px-4"
                  type="submit"
                >
                  Sign In
                </button>
                <button class="btn btn-danger mr-1 px-4" type="submit">
                  Sign Up
                </button>
              </div>
            </div>
            <div
              id="signIn"
              class="justify-content-lg-end d-md-none d-none d-lg-block"
            >
              <button
                class="btn btn-outline-danger m-lg-3 px-4 fs-5"
                type="submit"
              >
                <i class="fas fa-sign-in-alt"></i> Sign in
              </button>
              <button class="btn btn-danger mr-1 px-4 fs-5" type="submit">
                <i class="fas fa-home"></i> Sign Up
              </button>
            </div>
          </div>
        </nav>
        <!-- end navbar -->
      </header>
    </section>
    <!-- end header -->
    <!-- jumbotron -->
    <section>
      <div class="row align-items-center overflow-hidden bg-secondary2">
        <div class="d-lg-none d-block p-4">
          <h1
            style="
              font-size: 2.5rem;
              letter-spacing: 4px;
              font-weight: bold;
              margin: 2rem 1.7rem;
              font-style: italic;
              padding: 2em 0;
            "
          >
            Need cloths for your <span class="bg-white p-1 m-5">styles?</span>
          </h1>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 p-3 p-lg-5 pt-lg-3 d-none d-lg-block">
          <h1 class="fw-bold lh-1 fs-jumbotron">Classic</h1>
          <p class="fs-jumbotron-1">With</p>
          <p class="fs-jumbotron-2">Sunnah</p>
          <p class="fs-jumbotron-1">Style</p>
          <p class="lead fw-normal fs-4 text-lg-start mt-5">
            Find your classic style now!
          </p>

          <div
            class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
          >
            <img src="../assets/logo-playstore.png" width="420" alt="" />
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 -mt-5 d-none d-lg-block">
          <img class="" src="../assets/jumbotronHero.png" alt="" width="720" />
        </div>
      </div>
    </section>
    <!-- end jumbotron -->
    <!-- best seller choice -->
    <section>
      <div class="container-lg container-sm">
        <h1 class="mtc-2 fw-bold">BEST SELLER</h1>
        <div class="row mt-lg-5">
          <div class="col-lg-4">
            <a href="#" class="fd-none">
              <img src="../assets/shop-1.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-lg-4">Gamis Black</h5>
                <p class="card-text ls-5 fw-light">$19.00</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4">
            <div class="">
              <img src="../assets/shop-2.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-lg4">Gamis White</h5>
                <p class="card-text ls-5 fw-light">$19.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="">
              <img src="../assets/shop-3.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-lg-4">Black Gamis</h5>
                <p class="card-text ls-5 fw-light">$19.00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end best seller choice -->
    <!-- our network -->
    <section>
      <div class="bg-danger p-5 mt-lg-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 mtc-1 me-1">
              <br />
              <h1
                class="
                  text-uppercase
                  fw-bold
                  justify-content-lg-center
                  align-content-md-center
                  mt-lg-5
                  text-white
                  fs-7
                "
              >
                our <br />
                network
              </h1>
            </div>
            <!-- dekstop img -->
            <div class="col-lg-2 d-lg-block d-none">
              <img
                src="../assets/sponsor-1.png"
                class="mb-4"
                alt=""
                width="200"
              />
              <img src="../assets/sponsor-2.png" alt="" width="200" />
            </div>
            <div class="col-lg-2 d-lg-block d-none">
              <img
                src="../assets/sponsor-3.png"
                class="mb-4"
                alt=""
                width="200"
              />
              <img src="../assets/sponsor-4.png" alt="" width="200" />
            </div>
            <div class="col-lg-2 d-lg-block d-none">
              <img
                src="../assets/sponsor-5.png"
                class="mb-4"
                alt=""
                width="200"
              />
              <img src="../assets/sponsor-6.png" alt="" width="200" />
            </div>
            <!-- end dekstop img -->
            <div
              class="
                justify-content-center
                text-center
                align-content-center
                d-lg-none d-block
                m-auto
                pe-auto
                mb-4
                mr-1
                mt-5
              "
            >
              <img
                src="../assets/sponsor-1.png"
                class="mb-4"
                width="200"
                alt=""
              />
              <img src="../assets/sponsor-2.png" alt="" width="200" />
            </div>
            <div
              class="
                justify-content-center
                text-center
                align-content-center
                d-lg-none d-block
                m-auto
                pe-auto
                mb-4
                mr-1
              "
            >
              <img
                src="../assets/sponsor-3.png"
                class="mb-4"
                width="200"
                alt=""
              />
              <img src="../assets/sponsor-4.png" alt="" width="200" />
            </div>
            <div
              class="
                justify-content-center
                text-center
                align-content-center
                d-lg-none d-block
                m-auto
                pe-auto
                mb-4
                mr-1
              "
            >
              <img
                src="../assets/sponsor-5.png"
                class="mb-4"
                width="200"
                alt=""
              />
              <img src="../assets/sponsor-6.png" alt="" width="200" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- script -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/fontawesome/index.js"></script>
  </body>
</html>
